<footer th:fragment="footer">
    <!--<script type='text/javascript' th:src="@{/js/reference/jQuery/jquery-3.3.1.js}" charset='utf-8'></script>
    <script>jQuery.noConflict()</script>-->
    <script type='text/javascript' th:src="@{//g.alicdn.com/sj/lib/zepto/zepto.js}" charset='utf-8'></script>
    <script type='text/javascript' th:src="@{//g.alicdn.com/msui/sm/0.6.2/js/sm.js}" charset='utf-8'></script>
    <script type='text/javascript' th:src="@{//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.js}" charset='utf-8'></script>
    <script type='text/javascript' th:src="@{/js/common/common.js}" charset='utf-8'></script>
</footer>

