<!DOCTYPE html>
<html>
<head>
    <meta th:remove="tag" th:include="fragements/header::header(title='商店管理')">
    <link rel="stylesheet" th:href="@{/css/shop/shopmanagement.css}"/>
</head>
<body>
<div class="content">
    <div class="content-block">
        <div class="row">
            <div class="col-50 mb">
                <a id="shopInfo" href="/shopadmin/shopoperation" class="button button-big button-fill">商铺信息</a>
            </div>
            <div class="col-50 mb">
                <a href="/shopadmin/productmanage" class="button button-big button-fill">商品管理</a>
            </div>
            <div class="col-50 mb">
                <a href="/shopadmin/productcategorymanage" class="button button-big button-fill">类别管理</a>
            </div>
            <div class="col-100 mb">
                <a href="/shopadmin/shoplist" class="button button-big button-fill button-danger">返回</a>
            </div>
        </div>
    </div>
</div>


<div  th:remove="tag" th:include="fragements/footer::footer"></div>
<script type='text/javascript' th:src="@{/js/shop/shopmanagement.js}" charset='utf-8'></script>

</body>
</html>
