<!DOCTYPE html>
<html>
<head>
    <meta th:remove="tag"  th:include="fragements/header::header(title='商店列表')">
    <link rel="stylesheet" th:href="@{/css/shop/shoplist.css}">
</head>
<body>
<div class="content">
    <div class="content-block">
        <div >
            <p>你好,<span id="user-name"></span></p>
           <a href="/shopadmin/shopoperation" style="float: right">增加店铺</a>
        </div>
        <div class="row row-shop">
            <div class="col-40">商店名称</div>
            <div class="col-40">状态</div>
            <div class="col-20">操作</div>
        </div>
        <div class="shop-wrap">

        </div>
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-50">
                <a href="" id="log-out"
                   class="button button-big button-fill button-danger">退出系统</a>
            </div>
            <div class="col-50">
                <a href="/shop/changepsw" class="button button-big button-fill button-success">修改密码</a>
            </div>
        </div>
    </div>
</div>

<div th:remove="tag"  th:include="fragements/footer::footer"></div>
<script type='text/javascript' th:src="@{/js/shop/shoplist.js}" charset='utf-8'></script>
</body>
</html>
